ailment==9.2.37
angr==9.2.37
archinfo==9.2.37
bitstring==4.0.1
cachetools==5.3.0
capstone==4.0.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
claripy==9.2.37
cle==9.2.37
colorama==0.4.6
CppHeaderParser==2.7.4
decorator==5.1.1
dpkt==1.9.8
future==0.18.3
gitdb==4.0.10
GitPython==3.1.30
idna==3.4
itanium-demangler==1.1
markdown-it-py==2.1.0
mdurl==0.1.2
mpmath==1.2.1
mulpyplexer==0.9
nampa==0.1.1
networkx==3.0
pefile==2023.2.7
plumbum==1.8.1
ply==3.11
progressbar2==4.2.0
protobuf==4.21.12
psutil==5.9.4
pycparser==2.21
pyelftools==0.29
Pygments==2.14.0
PySMT==0.9.5
python-utils==3.5.2
pyvex==9.2.37
pywin32==305
requests==2.28.2
rich==13.3.1
rpyc==5.3.0
smmap==5.0.0
sortedcontainers==2.4.0
sympy==1.11.1
unicorn==2.0.1.post1
urllib3==1.26.14
z3-solver==4.10.2.0
